<div class="container">
  <h1>Add word</h1>
  <form #form="ngForm">
    <div class="form-group">
      <label>Source</label>
      <input type="text" (ngModel)="src" class="form-control" name="src" #src="ngModel"
      pattern="^[a-zA-Z0-9_.]+$" required >
    </div>
    <div [hidden]=" src.valid || src.pristine"  class="alert alert-danger">
      Source is required
    </div>
    <div class="form-group">
      <label for="res">Result</label>
      <input type="text" (ngModel)="res" class="form-control" name="res" id="res" #res=ngModel
      pattern="^[a-zA-Z0-9_.]+$" required>
    </div>
    <div [hidden]=" res.valid || res.pristine" class="alert alert-danger">
      Result is required
    </div>
    <button type="submit" [disabled]=" !form.valid " (click)="addWordToList( src, res)" class="btn btn-success">Add</button>
    <div [hidden] =" message == undefined " class="alert alert-success">
        {{message}}
    </div>
  </form>
</div>
